@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a:visited,
a:link {
  color: black;
  text-decoration: none;
}

.section__alta {
  margin-top: 2vw;
}

.button {
  border: 0.0625rem solid black;
  border-radius: 0.3rem;
  padding: 0.2vw;
  box-shadow: 1px 1px 10px -3px grey;
  cursor: pointer;
  font-weight: bold;
}
.button--alta {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(0, 120, 170);
  border-radius: 1vw/1vw;
  margin-top: 3vw;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5vw;
  margin: 0.5vw;
}
.button--alta:hover {
  box-shadow: 1px 1px 10px -1px rgb(0, 120, 170);
}
.button--alta:link {
  color: black;
  font-weight: bold;
}
.button--sm {
  width: 6rem;
  padding: 0.125rem;
  font-size: 0.8rem;
}
.button--md {
  width: 9rem;
  padding: 0.25rem;
  font-size: 0.9rem;
}
.button--lg {
  width: 12rem;
  padding: 0.125rem;
  font-size: 0.9rem;
}
.button--add {
  background-color: whitesmoke;
  color: black;
  transition: all 500ms;
}
.button--add:hover {
  color: blue;
  box-shadow: 1px 1px 10px -2px blue;
}
.button--remove {
  background-color: whitesmoke;
  color: black;
  transition: all 400ms;
}
.button--remove:hover {
  color: rgb(168, 1, 1);
  box-shadow: 1px 1px 10px -2px rgb(168, 1, 1);
}
.button-submit:hover {
  box-shadow: 1px 1px 10px -1px rgb(0, 120, 170);
}

@media (max-width: 991px) {
  .section__alta {
    margin-top: 2vw;
  }
  .button--sm {
    width: 5.5rem;
  }
}
@media (max-width: 768px) {
  .section__alta {
    margin-top: 3vw;
  }
  .button--sm {
    width: 4rem;
  }
}
@media (max-width: 600px) {
  .section__alta {
    margin-top: 4vw;
  }
}
@media (max-width: 480px) {
  .section__alta {
    margin-top: 4vw;
  }
}
.slider {
  position: relative;
  height: 28vh;
  width: 300%;
  display: flex;
  animation-name: move-slide;
  animation-duration: 18s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.slider__one, .slider__two, .slider__three {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: absolute;
  font-size: 3rem;
  letter-spacing: 1.5px;
  color: white;
}
.slider__title3 {
  font-family: "Agbalumo", Arial, Helvetica, sans-serif;
  position: absolute;
  font-size: 3rem;
  letter-spacing: 1px;
  color: rgb(0, 120, 170);
}
.slider__subtitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  font-size: 0.9rem;
  color: rgb(141, 203, 230);
  bottom: 0.5em;
}
.slider__subtitle3 {
  font-family: "Agbalumo", Arial, Helvetica, sans-serif;
  position: absolute;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: rgb(0, 120, 170);
  bottom: 0.5em;
}
.slider__img1 {
  position: absolute;
  width: 8vw;
  height: -moz-fit-content;
  height: fit-content;
  right: 0.1em;
}
.slider__img2 {
  position: absolute;
  width: 15vw;
  height: -moz-fit-content;
  height: fit-content;
  left: 0.1em;
  bottom: 1em;
}
.slider__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@keyframes move-slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@media (max-width: 1680px) {
  .slider__img2 {
    width: 10vw;
  }
}
@media (max-width: 1280px) {
  .slider__title {
    font-size: 2rem;
  }
  .slider__title3 {
    font-size: 2rem;
  }
}
@media (max-width: 1024px) {
  .slider__img2 {
    width: 8vw;
  }
  .slider__title {
    font-size: 1.7rem;
  }
}
@media (max-width: 991px) {
  .slider {
    height: 20vw;
  }
  .slider__img2 {
    width: 9vw;
  }
}
@media (max-width: 768px) {
  .slider__title {
    font-size: 1.4rem;
  }
  .slider__title3 {
    font-size: 1.2rem;
  }
  .slider__subtitle {
    font-size: 1rem;
  }
  .slider__subtitle3 {
    font-size: 1.2rem;
  }
  .slider__img1 {
    width: 10vw;
  }
}
@media (max-width: 600px) {
  .slider__title {
    font-size: 1.2rem;
    text-align: center;
  }
  .slider__title3 {
    font-size: 1rem;
  }
  .slider__subtitle {
    font-size: 0.7rem;
  }
  .slider__subtitle3 {
    font-size: 0.8rem;
  }
  .slider__img1 {
    width: 9vw;
  }
  .slider__img2 {
    width: 9vw;
  }
}
.card {
  margin: 0.5vw;
  padding: 1vw;
  background-color: rgba(245, 245, 245, 0.849);
  box-shadow: 1px 1px 10px -1px grey;
  border-radius: 1vw/1vw;
  width: -moz-fit-content;
  width: fit-content;
  background-image: url(../images/fondos/fondo-geometria.png);
  text-align: justify;
}
.card__image {
  width: 100%;
  border-radius: 1vw/1vw;
  box-shadow: 1px 1px 10px -1px grey;
}
.card__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
.card__button-show {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  align-self: flex-end;
}
.card__p-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.card__title {
  color: black;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-family: "Agbalumo", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.card__price {
  font-weight: bold;
}
.card__price::before {
  content: "$";
}
.card--products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
}

.card:hover {
  box-shadow: 1px 1px 10px -1px rgb(0, 120, 170);
  transition: all 300ms;
  transform: scale(1.01);
}

.card-contact {
  padding: 1vw;
  background-color: rgba(245, 245, 245, 0.849);
  box-shadow: 1px 1px 10px -1px grey;
  border-radius: 1vw/1vw;
  width: 100%;
  height: fit;
}
.card-contact__title {
  text-align: center;
  color: black;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-family: "Agbalumo", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0.5vw;
}
.card-contact__img {
  display: flex;
  width: 1.2vw;
  height: -moz-fit-content;
  height: fit-content;
}
.card-contact__box {
  display: flex;
  gap: 1vw;
  margin: 1vw 0;
  width: -moz-fit-content;
  width: fit-content;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  gap: 1vw;
}

.footer {
  grid-area: footer;
  text-align: center;
  background-color: rgb(0, 120, 170);
  background-image: url(../images/fondos/geometria.png);
}
.footer__span {
  height: 2vw;
  color: rgba(245, 245, 245, 0.849);
  letter-spacing: 0.5px;
}
.footer__list {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(white, rgb(0, 120, 170));
}
.footer__img {
  width: 1vw;
  height: -moz-fit-content;
  height: fit-content;
  margin: 2.5vw 1vw;
}

@media (max-width: 1280px) {
  .footer__img {
    width: 1.4vw;
  }
}
@media (max-width: 1024px) {
  .footer__img {
    width: 1.6vw;
  }
}
@media (max-width: 768px) {
  .footer__img {
    width: 2.8vw;
  }
}
.header {
  grid-area: header;
  background: linear-gradient(rgb(0, 120, 170), white);
}
.header .buy {
  display: flex;
  justify-content: end;
}
.header .buy__img {
  width: 2vw;
  cursor: pointer;
}
.header .buy__counter {
  background-color: rgb(168, 1, 1);
  color: white;
  text-align: center;
  border-radius: 100%;
  margin: 0 0.1vw;
  width: 20px;
  height: 20px;
}
.header__logo {
  width: 4vw;
  height: auto;
  box-shadow: 1px 1px 10px 1px grey;
  border-radius: 1vw/1vw;
}
.header__title {
  text-align: center;
  letter-spacing: 8px;
  font-family: "Agbalumo", Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.header__subtitle {
  text-align: center;
  letter-spacing: 2px;
  font-family: "Agbalumo", Arial, Helvetica, sans-serif;
  margin-bottom: 2vw;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 991px) {
  .header__logo {
    width: 6vw;
  }
  .header .buy__img {
    width: 3.5vw;
  }
}
@media (max-width: 768px) {
  .header__logo {
    width: 6vw;
  }
  .header .buy__img {
    width: 3vw;
  }
}
@media (max-width: 600px) {
  .header__logo {
    width: 8vw;
  }
  .header .buy__img {
    width: 4vw;
  }
}
.main {
  grid-area: main;
}
.main__form-group {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0.5vw;
}
.main__form-group input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(0, 120, 170);
  font-size: 0.8vw;
}
.main__form-group textarea {
  outline: none;
  border: 1px solid rgb(0, 120, 170);
  font-size: 0.8vw;
  resize: vertical;
}
.main__form-group label {
  font-size: 0.9vw;
}
.main__form-group--radio {
  display: block;
}
.main__form-group--radio input {
  margin: 0.5vw;
}
.main__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__container-about {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: -moz-fit-content;
  height: fit-content;
  gap: 3vw;
}
.main .section {
  width: 100%;
}
.main .section--slider {
  overflow: hidden;
}
.main .section--cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5vw;
}
.main .section--gallery {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1vw;
}
.main .section--gallery h3 {
  font-family: "Agbalumo", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-top: 2vw;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}
.main .section__lupa {
  width: 1.5vw;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
.main .section__product {
  margin-bottom: 1vw;
}
.main .section__search {
  display: flex;
  justify-content: center;
}
.main .section #id-search {
  background-color: rgb(141, 203, 230);
  border: 1px solid rgb(70, 70, 70);
  padding: 0.4vw;
  border-radius: 1vw/1vw;
}
.main .section #id-search::-moz-placeholder {
  color: black;
}
.main .section #id-search::placeholder {
  color: black;
}

.main-about {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-about .section__text {
  text-align: justify;
}
.main-about .section__title {
  text-align: center;
  color: black;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-family: "Agbalumo", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0.5vw;
}
.main-about .section__about {
  padding: 1vw;
  background-color: rgba(245, 245, 245, 0.849);
  box-shadow: 1px 1px 10px -1px grey;
  border-radius: 1vw/1vw;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 1vw;
}

.main-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.main-contact .section__consult {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-contact .section__contact {
  width: -moz-fit-content;
  width: fit-content;
}
.main-contact .card-contact__img {
  width: 1.5vw;
}

.iframe-container .iframe {
  display: flex;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: end;
}

@media (max-width: 1280px) {
  .main__form-group input {
    font-size: 1vw;
  }
  .main__form-group label {
    font-size: 1.2vw;
  }
  .main__form-group textarea {
    font-size: 1.2vw;
  }
  .card-contact__img {
    width: 2vw;
  }
}
@media (max-width: 1024px) {
  .main__form-group input {
    font-size: 1.3vw;
  }
  .main__form-group label {
    font-size: 1.5vw;
  }
  .main__form-group textarea {
    font-size: 1.5vw;
  }
  .section__lupa {
    margin: 0.5vw;
  }
  .card-contact__img {
    width: 2vw;
  }
}
@media (max-width: 991px) {
  .main__form-group {
    width: 30%;
  }
  .main__form-group input {
    font-size: 1.5vw;
  }
  .main__form-group label {
    font-size: 1.7vw;
  }
  .main__form-group textarea {
    font-size: 1.7vw;
  }
  .card-contact__img {
    width: 2vw;
  }
}
@media (max-width: 991px) {
  .section--cards {
    display: flex;
  }
  .main .section__lupa {
    width: 3vw;
  }
}
@media (max-width: 768px) {
  .main .section--cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .main__form-group {
    width: 40%;
  }
  .main__form-group input {
    font-size: 1.8vw;
  }
  .main__form-group label {
    font-size: 2vw;
  }
  .main__form-group textarea {
    font-size: 2vw;
  }
  .main .section__lupa {
    width: 4vw;
  }
  .iframe-container iframe {
    width: 60vw;
    height: 40vh;
  }
  .section__contact {
    margin: 5vw 0;
  }
  .card-contact__img {
    width: 2vw;
  }
}
@media (max-width: 600px) {
  .main__form-group {
    width: 45%;
  }
  .main__form-group input {
    font-size: 2.5vw;
  }
  .main__form-group label {
    font-size: 2.5vw;
  }
  .main__form-group textarea {
    font-size: 2.5vw;
  }
  .main .section__lupa {
    width: 5vw;
  }
  .iframe-container iframe {
    width: 60vw;
    height: -moz-fit-content;
    height: fit-content;
  }
  .section__contact {
    margin: 5vw 0;
  }
  .card-contact__img {
    width: 3vw;
  }
}
@media (max-width: 480px) {
  .main .section--cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3vw;
  }
  .main__form-group {
    width: 50%;
  }
  .main__form-group input {
    font-size: 3vw;
  }
  .main__form-group label {
    font-size: 3vw;
  }
  .main__form-group textarea {
    font-size: 3vw;
  }
  .main .section__lupa {
    width: 6vw;
  }
  .iframe-container iframe {
    width: 60vw;
    height: -moz-fit-content;
    height: fit-content;
  }
  .section__contact {
    margin: 5vw 0;
  }
  .card-contact__img {
    width: 3vw;
  }
}
.navbar__menu {
  display: flex;
  justify-content: center;
  gap: 10vw;
  border-top: 2px solid black;
}
.navbar__item {
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
  font-family: "Agbalumo", Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.navbar__item:hover {
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */