@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;


.footer {
    grid-area: footer;
    text-align: center;
    background-color: var.$colorTertiary;
    background-image: url(../images/fondos/geometria.png);
   

    &__span {
        height: 2vw;
        color: var.$backgroundCards;
        letter-spacing: .5px;
        

    }

    &__list {
        display: flex;
        justify-content: space-around;
        background: linear-gradient(var.$colorSecondary,var.$colorTertiary);

    }

    &__img {
        width: 1vw;
        height: fit-content;
        margin: 2.5vw 1vw;
        
    }
}