@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;


.header {
    grid-area: header;
    background: linear-gradient(var.$colorTertiary, var.$colorSecondary);
    
    .buy {
        display: flex;
        justify-content: end;

        &__img {
        width: 2vw;
        cursor: pointer;
        }

        &__counter {
            background-color: var.$colorButtonRemove;
            color: var.$colorSecondary;
            text-align: center;
            border-radius: 100%;
            margin: 0 .1vw;
            width: 20px;
            height: 20px;
            // display: none;
        }

    }

    &__logo {
        width: 4vw;
        height: auto;
        box-shadow: 1px 1px 10px 1px grey;
        border-radius: 1vw / 1vw;
    }
    
    &__title {
        text-align: center;
        letter-spacing: 8px;
        font-family: 'Agbalumo', Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    }

    &__subtitle {
        text-align: center;
        letter-spacing: 2px;
        font-family: 'Agbalumo', Arial, Helvetica, sans-serif;
        margin-bottom: 2vw;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    }

}

@media(max-width: 991px) {
    .header__logo {
        width: 6vw;
    }
}

@media(max-width: 768px) {
    .header__logo {
        width: 6vw;
    }

    .buy__img {
        width: 3vw;
    }
}

@media(max-width: 600px) {
    .header__logo {
        width: 8vw;
    }

    .buy__img {
        width: 4vw;
    }
}
