@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;



.main {
    grid-area: main;
    
    
    &__form-group {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: .5vw;
    }

    &__form-group input {
        border: none;
        outline: none;
        border-bottom: 1px solid var.$colorTertiary;
        font-size: .8vw;
    }

    &__form-group textarea {
        outline: none;
        border: 1px solid var.$colorTertiary;
        font-size: .8vw;
        resize: vertical;

    }

    &__form-group span {
        background-color: pink;
        color: var.$colorButtonRemove;
        border-radius: .1vw / .1vw;
        border-inline: 1px solid var.$colorButtonRemove;
    }

    &__form-group label {
        font-size: .9vw;
    }

    &__form-group--radio {
        display: block;
    }

    
    &__form-group--radio input {
        margin: .5vw;
    }


    &__form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    &__container-about {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: fit-content;
        gap: 3vw;
    }

    


    .section {
        width: 100%;
    

        &--slider {
            overflow: hidden;
        }

        
        &--cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5vw;
        }

        &--gallery {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 1vw;
            
            h3{
                font-family: 'Agbalumo', Arial, Helvetica, sans-serif;
                font-size: 2rem;
                margin-top: 2vw;
                text-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
                letter-spacing: 2px;
            }
        }

        &__lupa {
            width: 1.5vw;
            height: fit-content;
            cursor: pointer;
        }

        &__product {
            margin-bottom: 1vw;
            
        }

        &__search {
            display: flex;
            justify-content: center;
        }

        
        #id-search {
            background-color: var.$colorPrimary;
            border: 1px solid rgb(70, 70, 70);
            padding: .4vw;
            border-radius: 1vw / 1vw;
        }

        #id-search::placeholder {
            color: var.$colorTitle;
        }
        
    }

}

.main-about {
    width: 100%;
    display: flex;
    justify-content: center;

    .section {


        &__text {
            text-align: justify;
            }

        &__title {
            text-align: center;
            color: var.$colorTitle;
            text-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
            font-size: 1.5rem;
            font-family: 'Agbalumo', Arial, Helvetica, sans-serif;
            letter-spacing: 1px;
            margin-bottom: .5vw;
            }

        &__about {
            padding: 1vw;
            background-color: var.$backgroundCards;
            box-shadow: 1px 1px 10px -1px grey;
            border-radius: 1vw / 1vw;
            width: fit-content;
            margin: 0 1vw;
            }
    }


}


.main-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;

    .section {
        &__consult {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__contact {
            width: fit-content;
            
        }

    }

    .card-contact__img {
        width: 1.5vw;
    }

}

.iframe-container {

    .iframe {
        display: flex;
        width: 100%;
        height: fit-content;
        justify-content: end;
    }

}


@media(max-width: 1280px) {

    .main__form-group input {
        font-size: 1vw;
    }

    .main__form-group label {
        font-size: 1.2vw;
    }

    .main__form-group textarea {
        font-size: 1.2vw;
    }

    .card-contact__img {
        width: 2vw;
    }
}

@media(max-width: 1024px) {
    .main__form-group input {
        font-size: 1.3vw;
    }

    .main__form-group label {
        font-size: 1.5vw;
    }

    .main__form-group textarea {
        font-size: 1.5vw;
    }

    .section__lupa {
        margin: .5vw;
    
    }

    .card-contact__img {
        width: 2vw;
    }
}


@media(max-width: 991px) {

    .main__form-group {
        width: 30%;
    }

    .main__form-group input {
        font-size: 1.5vw;
    }

    .main__form-group label {
        font-size: 1.7vw;
    }

    .main__form-group textarea {
        font-size: 1.7vw;
    }

     .card-contact__img {
        width: 2vw;
    }

}


@media(max-width: 991px) {
    .section--cards {
        display: flex;
    }
    
    .main .section__lupa {
        width: 3vw;
    }
}

@media(max-width: 768px) {
    .main .section--cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .main__form-group {
        width: 40%;
    }

    .main__form-group input {
        font-size: 1.8vw;
    }

    .main__form-group label {
        font-size: 2vw;
    }

    .main__form-group textarea {
        font-size: 2vw;
    }

    .main .section__lupa {
        width: 4vw;
    }

     .iframe-container iframe {
        width: 60vw;
        height: 40vh;
    }

    .section__contact {
        margin: 5vw 0;
    }

    .card-contact__img {
        width: 2vw;
    }
}


@media(max-width: 600px) {
    

    .main__form-group {
        width: 45%;
    }

    .main__form-group input {
        font-size: 2.5vw;
    }

    .main__form-group label {
        font-size: 2.5vw;
    }

    .main__form-group textarea {
        font-size: 2.5vw;
    }

    .main .section__lupa {
        width: 5vw;
    }

    .iframe-container iframe {
        width: 60vw;
        height: fit-content;
    }

    .section__contact {
        margin: 5vw 0;
    }

    .card-contact__img {
        width: 3vw;
    }
}

@media(max-width: 480px) {

    .main .section--cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3vw;
    }
    .main__form-group {
        width: 50%;
    }

    .main__form-group input {
        font-size: 3vw;
    }

    .main__form-group label {
        font-size: 3vw;
    }

    .main__form-group textarea {
        font-size: 3vw;
    }

    .main .section__lupa {
        width: 6vw;
    }

    .iframe-container iframe {
        width: 60vw;
        height: fit-content;
    }

    .section__contact {
        margin: 5vw 0;
    }

    .card-contact__img {
        width: 3vw;
    }
}