@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

$_width: 100%;

.slider {
    position: relative;
    height: 28vh;
    width: calc($_width * 3);
    display: flex;
    

    animation-name: move-slide;
    animation-duration: 18s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    &__one,
    &__two,
    &__three {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    &__title {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position: absolute;
        font-size: 3rem;
        letter-spacing: 1.5px;
        color: var.$colorSecondary;
    }

    &__title3 {
        font-family: 'Agbalumo', Arial, Helvetica, sans-serif;
        position: absolute;
        font-size: 3rem;
        letter-spacing: 1px;
        color: var.$colorTertiary;

    }

    &__subtitle {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: absolute;
        font-size: .9rem;
        color: var.$colorPrimary;
        bottom: .5em;
    }

    &__subtitle3 {
        font-family: 'Agbalumo', Arial, Helvetica, sans-serif;
        position: absolute;
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: var.$colorTertiary;
        bottom: .5em;

    }

    &__img1 {
        position: absolute;
        width: 8vw;
        height: fit-content;
        right: .1em;
    }

    &__img2 {
        position: absolute;
        width: 15vw;
        height: fit-content;
        left: .1em;
        bottom: 1em;
    }

    &__image {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }


    @keyframes move-slide {
        0% {left: 0;}
        20% {left: 0;}
        25% {left: -100%;}
        45% {left: -100%;}
        50% {left: -200%;}
        70% {left: -200%;}
        75% {left: -100%;}
        95% {left: -100%;}
        100% {left: 0%;}
       
    }
}


@media(max-width: 1680px ){
    
    .slider__img2 {
        width: 10vw;
    }

}

@media(max-width: 1280px) {
    .slider__title {
        font-size: 2rem;
    }

    .slider__title3 {
        font-size: 2rem;
    }
}

@media(max-width: 1024px) {
    .slider__img2 {
        width: 8vw;
    }

    .slider__title {
        font-size: 1.7rem;
    }
}

@media(max-width: 991px) {
    .slider {
        height: 20vw;
    }

    .slider__img2 {
        width: 9vw;
    }
}


@media(max-width: 768px) {
    .slider__title {
        font-size: 1.4rem;
    }

    .slider__title3 {
        font-size: 1.2rem;
    }

    .slider__subtitle {
        font-size: 1rem;
    }

    .slider__subtitle3 {
        font-size: 1.2rem;
    }

    .slider__img1 {
        width: 10vw;
    }
}

@media(max-width: 600px) {
    .slider__title {
        font-size: 1.2rem;
        text-align: center;
    }

    .slider__title3 {
        font-size: 1rem;
    }

    .slider__subtitle {
        font-size: .7rem;
    }

    .slider__subtitle3 {
        font-size: .8rem;
    }

    .slider__img1 {
        width: 9vw;
    }

    .slider__img2 {
        width: 9vw;
    }
}