$backgroundCards: rgba(245, 245, 245, 0.849);
$colorTitle: black;
$colorTertiary: rgb(0, 120, 170);
$colorButtonRemove: rgb(168, 1, 1);
$colorPrimary: rgb(141, 203, 230);
$colorSecondary: white;
$colorButtonAdd: blue;
$colorButton: rgb(90, 89, 89);